{% extends 'ManagerBundle:Form:horizontal-theme-form.html.twig' %}

{%- block _managerbundle_broker_account_row -%}
    <div class="form-group ">
        <div class="col-sm-12">
            <h4 class="box-title m-t-40">Account</h4>
            {{ form_widget(form) }}
        </div>
    </div>
{%- endblock -%}

{%- block _managerbundle_broker_commissiontypes_row -%}
    <div class="form-group ">
        <div class="col-sm-12">
            <h4 class="box-title m-t-40">Commission types</h4>
            {{ form_widget(form) }}
            <button id="add-commissiontypes" type="button" class="btn btn-default btn-rounded pull-right">Add commission type</button>
        </div>
    </div>
{%- endblock -%}
