{% extends 'base.html.twig' %}

{% block avanzu_head %} {% include 'AvanzuAdminThemeBundle:Partials:_header-form-extra.html.twig' %}{% endblock %}

{% block avanzu_page_title %} {{ page_title }} {% endblock %}
{% block avanzu_page_subtitle %} {{ page_subtitle }} {% endblock %}

{% block avanzu_page_content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% embed 'ManagerBundle:Partials:form-horizontal.html.twig'%}
                {% block box_title %}{{ box_title }}{% endblock %}
            {% endembed %}

        </div>
        <div class="col-md-6">

        </div>
    </div>

    {% embed 'ManagerBundle:Partials:modal.html.twig' %}
    {% endembed %}

{% endblock %}

{% block avanzu_javascripts_inline %}
    <script>
        $(document).on("click", "#submit-btn", function () {
            var modal = $('#modal-background');

            modal.modal('show');
            modal.css('text-align','center');

            $('#modal-background i').show();
        });
    </script>
{% endblock %}