<script>
    $(document).ready(function() {
        $('.add-commission').each(function () {
            var $commissions = $(this).closest('div.commissions-box-body');
            var $table = $commissions.find('table');

            console.log($commissions)

            $(this).click(function(e) {
                e.preventDefault();

                count =  $commissions.data('commissions');

                // grab the prototype template
                var newWidget = $commissions.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, count);

                count++;
                $commissions.data('commissions', count);

                var commission = $(newWidget).appendTo($table);
                commission.children('.entry-buttons').each(function () {
                    addCommissionFormDeleteLink($(this));
                });
            });

            // add a delete link to all of the existing tag form div elements
            $table.find('tr .entry-buttons').each(function() {
                addCommissionFormDeleteLink($(this));
            });
        });
    });

    function addCommissionFormDeleteLink($widget) {
        var $removeFormA = $('<button type="button" class="btn btn-sm btn-icon btn-pure"><i class="fa fa-minus-square" aria-hidden="true"></i></button>');

        $removeFormA.appendTo($widget);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the div for the tag form
            $widget.parent().remove();
        });
    }
</script>