{% block avanzu_head %}
    <style>
        #modal-background > i {
            position:relative;
            top: calc(50% - 10px); /* 50% - 3/4 of icon height */
        }
    </style>
{% endblock %}

<!-- Modal delete dialog start -->
<div class="modal fade" id="modal-background" tabindex="-1" role="dialog">
    {% if dialog is defined %}
    {% include 'ManagerBundle:Partials:' ~ dialog ~ '.html.twig'%}
    {% endif %}
    <i class="fa fa-share-square-o fa-4x" aria-hidden="true"></i>
</div><!-- /.modal -->
<!-- Modal to block window after submit -->
