{% extends 'base.html.twig' %}

{% block avanzu_head %}
    {% include 'AvanzuAdminThemeBundle:Partials:_header-form-extra.html.twig' %}
    <style>
        sup {
            top: -.9em;
            font-size: 50%;
        }
    </style>
{% endblock %}

{% block avanzu_page_title %} {{ page_title }} {% endblock %}
{% block avanzu_page_subtitle %} {{ page_subtitle }} {% endblock %}

{% block avanzu_page_content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% embed 'ManagerBundle:Form:horizontal-form.html.twig'%}
                {% block box_title %}{{ box_title }}{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">

        </div>
    </div>

    {% embed 'ManagerBundle:Modal:modal.html.twig' with {
    'modal_id' : 'modal-background',
    'request' : 'true'
    } %}
    {% endembed %}

{% endblock %}

{% block avanzu_javascripts_inline %}
    <script>
        $(document).ready(function () {
            $('#entity-form').submit(function(e) {
                var modal = $('#modal-background');

                modal.css('text-align','center');
                $('#modal-background i').show();

                modal.modal({
                    backdrop: 'static',
                    keyboard: false
                });

                modal.modal('show');
            });
        });
    </script>
{% endblock %}