{% extends 'base.html.twig' %}

{% block avanzu_page_title %} {{ entity_type|title }}s {% endblock %}
{% block avanzu_page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <a href="{{ new_url|default('#') }}" class="btn btn-success pull-right">
                        <i class="fa-plus-circle fa" aria-hidden="true"></i> Create new {{ entity_type|lower }}</a>
                </div>
                <div class="box-body table-responsive no-padding">
                    {% embed 'ManagerBundle:Table:simple-manage-table.html.twig' %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block avanzu_javascripts_inline %}
    <script>
        $(document).on("click", ".entity-delete", function () {
            var $form = $(this);

            var itemId = $form.data('id');
            var itemTitle = $form.data('title');

            $(".modal-footer #itemId").val( itemId );
            $(".modal-body p").text($(".modal-body p").text().replace("title", itemTitle));

            console.log('Confirm delete "' + itemTitle + '" with ID: ' + itemId);


            $('#modal-delete i').hide();
            // As pointed out in comments,
            // it is superfluous to have to manually call the modal.
            var modal = $('#modal-delete');
            modal.modal('show');

            // On delete confirm
            modal.modal({ backdrop: 'static', keyboard: false })
                .on('click', '#confirm-submit', function(){
                    console.log('yes');
                    $('#entity_' + itemId).submit();

                    // Block the panel
                    modal.modal({backdrop: 'static', keyboard: false});
                    $('#modal-delete .modal-dialog').hide();
                    modal.css('text-align','center');

                    var $processing = $('#modal-delete i');
                    $processing.show();
                });
        });

        {% if extra_buttons is defined %}
        $(document).ready(function(){
            $("#modal-show").on("show.bs.modal", function(e) {
                $("#modal-show .modal-content")
                    .html('{% spaceless %}{% include 'ManagerBundle:Modal:spinner.html.twig' %}{% endspaceless %}');
                var href = $(e.relatedTarget).data('href');
                $.get(href, function(data) {
                    $("#modal-show .modal-content").html(data);
                });

            });
        });
        {% endif %}
    </script>
{% endblock %}

