<div class="modal-dialog" role="document">
    <div class="modal-content">
        {% include 'ManagerBundle:Modal:spinner.html.twig' %}
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
