<a href="{{ cancel_url|default('#') }}" class="btn btn-default">Cancel</a>
<button id="submit-btn" type="submit" class="btn btn-{{ box_type|default('info') }} pull-right">
    <i class="fa fa-check-square" aria-hidden="true"></i> {{ submit_type|default('Submit') }}
</button>